/Packages/ASP
/Packages/ActionScript
/Packages/AppleScript
/Packages/Batch File
/Packages/C#
/Packages/C++
/Packages/CSS
/Packages/D
/Packages/Color Scheme - Default
/Packages/Default
/Packages/Diff
/Packages/Erlang
/Packages/Go
/Packages/Graphviz
/Packages/Groovy
/Packages/HTML
/Packages/Haskell
/Packages/Java
/Packages/LaTeX
/Packages/Lua
/Packages/Lisp
/Packages/Makefile
/Packages/Markdown
/Packages/Matlab
/Packages/Clojure
/Packages/JavaScript
/Packages/Language - English
/Packages/OCaml
/Packages/Objective-C
/Packages/PHP
/Packages/Perl
/Packages/Python
/Packages/R
/Packages/Rails
/Packages/Ruby
/Packages/Scala
/Packages/TCL
/Packages/Textile
/Packages/Theme - Default
/Packages/Vintage
/Packages/XML
/Pristine Packages
/Settings
/Packages/ShellScript
/Packages/SQL
/Packages/RestructuredText
/Packages/Regular Expressions
/Packages/YAML
/Packages/Text
*.pyc
*~
/Packages/SideBarGit
/Packages/Package Control
/Packages/Open Recent Files
/Packages/Terminal
/Packages/WordHighlight
/Packages/zenburn
/Packages/BufferScroll
/Packages/Git/package-metadata.json
/Installed Packages/Package Control.sublime-package
/Packages/User/BufferScroll.sublime-settings
